.book-card {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  transition: 0.3s;

  &__cover {
    img {
      width: 250px;
      height: 320px;
      object-fit: contain;
      object-position: center;
      border-radius: 5px;
    }
  }

  &__content {
    &-title {
      width: 100%;
      // text-align: center;

      h3 {
        margin-top: 0.5rem;
      }

      h4 {
        margin-block: 0;
      }
    }
  }

  &__stars {
    -webkit-text-stroke: 1px goldenrod;
    color: gold;
    font-size: 1.5rem;
  }
}
