.book-card {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  // align-items: center;
  position: relative;
  transition: 0.3s;

  &__cover {
    // width: 100%;
    position: relative;
    transform: translateY(-2rem);
    transition: 0.3s;

    img {
      border-radius: 1rem;
      width: 100%;
      height: auto;
      aspect-ratio: 2/3;
      object-fit: cover;
    }
  }

  &__content {
    padding-inline: 2rem;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    transition: 1s;
    &_title {
      width: 100%;
      // text-align: center;

      h3 {
        margin-top: 0.5rem;
      }

      h4 {
        margin-block: 0;
      }
    }
  }

  &__stars {
    -webkit-text-stroke: 1px goldenrod;
    color: gold;
    font-size: 1.5rem;
  }
}
