.books-container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 1280px;
  &__list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
