.heading-primary {
  margin-bottom: 6rem;
  text-align: center;
  font-weight: 800;
  font-size: 4.5rem;

  span {
    display: block;
  }
}

.heading-secundary {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.25;
}
