body {
  font-family: var(--font-manrope);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cormorant);
}

.heading-primary {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 600;

  span {
    font-style: italic;
  }
}

.heading-secundary {
  font-family: var(--font-newsreader);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
}

.heading-tertiary {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4rem;
}
